* {
    box-sizing: border-box;
    margin: 2px;
    padding: 0;
    background-color: rgb(24, 25, 26);


}

@keyframes transitionIn{
    from{
        opacity: 0;
        transform: rotateX(-14deg);

    }

    to{
        opacity: 1;
        transform: rotateX(0);

    }

}
.container
{
    animation: transitionIn 2s;
}


.header {
    font-family: 'Patua One', cursive;
    padding: 0.5em;
    color: white;
    font-size: 2.3em;

}

.header:hover {
    font-size: 3em;
    transition: 0.2s;
}

.abtme {
    font-family: 'Comfortaa', cursive;
    padding: 2em;
    color: white;
}

.abtmep {
    padding-left: 13em;
}

.abtme2 {
    padding: 1em;
    font-family: 'Comfortaa', cursive;

    padding-left: 2em;
    padding-right: 4em;
    color: white;
}

.subh {
    font-family: 'Patua One', cursive;
    padding-left: 2em;
    font-size: 1.3em;
    color: white;
    opacity: 90%;
    position: relative;
}

.subh:hover {
    font-size: 1.5em;
    transition: 0.2s;
}

.bel3 {

    width: 42%;

}

.think {
    height: 33px;
    padding-left: 1em;
    position: relative;

}

.str {
    color: red;
    font-family: 'Rye', cursive;
    font-size: 20px;
    opacity: 80%;
    font-size: 1.5em;
}

.str:hover {
    color: white;
    transition: 0.2s;
    font-size: 2em;
}



.li {
    display: inline-block;
}

.ulol {
    color: white;
}

.ulolh {
    font-family: 'Patua One', cursive;
    padding-left: 1em;
    font-size: 1.3em;
    color: white;
    opacity: 90%;
}

.ulolh:hover {
    font-size: 1.5em;
    transition: 0.2s;
}

.ulolhr {
    width: 30%;
}

.hbi {
    height: 50px;
    padding-left: 0.5em;
    position: relative;
}

.ulol {
    padding: 1em;
    font-family: 'Comfortaa', cursive;

    padding-left: 2em;
    padding-right: 4em;
    color: white;
}

.ull {
    padding-left: 5em;

    overflow: hidden;
}


.ul1 {
    padding: 0.3em;
    display: inline-block;
    padding-left: 4.2em;

}

.ul2 {
    padding: 0.3em;
    display: inline-block;
    padding-left: 4.2em;
}

.ul3 {
    padding: 0.3em;
    display: inline-block;
    padding-left: 4.2em;
}

.ulli {
    height: 30px;
    padding-left: 1em;
}

.mainp {
    height: 12em;
    width: 12em;
    border-radius: 50%;
}
.foot
{
    font-size: 0.5em;
    color: blanchedalmond;
    text-align: center;
    padding-top: 8rem;
    padding-bottom: 4rem;
}